# python basics

In [4]:
a=123
b=45
a,b
print(a,b)

123 45

In [5]:
a=123
type(float(a))

float

In [7]:
b="tejaswini"
type(b)

str

In [8]:
x=12
type(str(x))

str

In [9]:
a=10
b=float(a)
print(b)

10.0

In [10]:
x=12
s=str(x)
s

'12'

In [1]:
c=input()
type(c)

88

str

In [2]:
e=int(input())
type(e)

98

int

### arithematic operators
### relational operators
### assignment opeartors
###  logical operators
### bitwise operators
### indentation
### membership operators

### .arithematic operators

In [4]:
a=10
b=50
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #floor division
print(a%b)

60
-40
500
0.2
0
10

In [5]:
a**b #power

100000000000000000000000000000000000000000000000000

### .relational operators

In [6]:
12==24

False

In [7]:
12!=24

True

In [8]:
12<24

True

In [9]:
12>24

False

#### .assignment operators

In [10]:
a=20
a

20

In [18]:
a=30
b=588
c=b
a
b
c

588

In [13]:
a += 1

In [14]:
a=a+1

In [16]:
a*=2
a=a*2

In [19]:
a=b=c
b

588

### .logical operators

In [21]:
True and False

False

In [22]:
True or False

True

In [23]:
not True

False

### bitwise operators

In [25]:
4 & 7   #4-->100,7-->111

4

In [26]:
4 | 7   #4-->100,7-->111

7

In [28]:
~ 4

-5

### identation

In [29]:
2 is 3

False

In [30]:
2 is not 3

True

### membership operator

In [31]:
a="spmvv"
"k" in a

False

In [32]:
a="spmvv"
"k" not in a

True