## functions
* introduction to  functions
* inbuilt functions
* print
* input
* chr
* ord
* str
* int
* bin
* min
* max
* type
* range

* User defined functions

  * Without arguments & without return values
  * Without arguments & with return Value
  * With arguments & without return values
  * With arguments & return values
* Function types in python
  1. Required arguments
  2. Keyword arguments
  3. Default arguments
  4. Variable length arguments

### Examples:
   1. Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb,          ub) inclusive
   2. Function to find the average of cubes of all the even numbers in a given range(lb, ub)            inclusive
   3. Function to generate the list of factors for a given number
   4. Function to calculate the factorial of a given number
#### Advanced Problem Set( Optional )

   1. Function to calculate the average of all factorials in a given range
   2. Function to generate N odd armstrong numbers
   3. Function to generate Multiplication table for a number in a given range
      * 10 in the range(100, 102) inclusive
      * 10 x 100 = 1000
      * 10 x 101 = 1010
      * 10 x 102 = 1020

In [8]:
chr(97)

'a'

In [10]:
ord('a')

97

In [1]:
bin(5)

'0b101'

In [2]:
type(bin(5))

str

In [3]:
min(1,2,3)

1

In [4]:
min('a','b','c')

'a'

In [5]:
min('abc')

'a'

In [7]:
max(1,2,3)

3

In [12]:
a=10
b=20
max(a,b)

20

In [13]:
max(a=10,b=10)

TypeError: max expected 1 arguments, got 0

In [14]:
a=input("enter a value")
b=input("enter b value")
min(a,b)

enter a value10
enter b value20

'10'

In [15]:
type(min(a,b))

str

In [16]:
type(int(min(a,b)))

int

In [17]:
range(6)

range(0, 6)

In [18]:
range(2,6)

range(2, 6)

In [29]:
for i in range(1,10,4): #range(start,end,step)
    print(i)

1
5
9

In [30]:
for i in range(1,10,4):
    print(i,end="")

159

In [31]:
for i in range(1,10,4):
    print(i,end="\n")

1
5
9

In [32]:
for i in range(1,10,4):
    print(i,end="")
    print(i,end="\n")

11
55
99

### user defined functions
       
  * Without arguments & without return values
  * Without arguments & with return Value
  * With arguments & without return values
  * With arguments & return values

def funtion_name(arguments):
    statements
body of the function

 Without arguments & without return values

In [42]:
def add():
    a=10
    b=20
    print(a+b)
print(a+b)   #out of th loop prints garbage value   
add()

1020
30

 Without arguments & with return Value

In [45]:
def mul():
    a=10
    b=20
    return(a*b)
mul()

200

With arguments & without return values

In [51]:
def sub(a,b):
    print(a-b)
sub(34,56)

-22

In [55]:
def sub(a,b):
    print(a-b)
sub(int(input()),int(input()))

10
5
5

With arguments & return values

In [56]:
def div(a,b):
    return(int(a/b))
div(50,25)

2

### funtion types
  * Required arguments
  * Keyword arguments
  * Default arguments
  * Variable length arguments

In [62]:
# required arguments
add(1)
add(1,2)

TypeError: add() takes 0 positional arguments but 1 was given

In [64]:
sub(1)

TypeError: sub() missing 1 required positional argument: 'b'

In [65]:
sub(2,1)

1

In [67]:
# keyword arguments
def keyword(name,branch):
    print(name,branch)
keyword(name="tejaswini",branch="ECE")

tejaswini ECE

In [71]:
#keyword argument
def keyword(name,branch):
    print(name,branch)
keyword(branch="ECE",name="tejaswini")

tejaswini ECE

In [73]:
#default arguments
def default(name,branch="ECE"):
    print(name,branch)
default("tejaswini")

tejaswini ECE

In [74]:
# defaultarguments
def add(a=1,b=2):
    print(a,b)
add()

1 2

In [75]:
# variable length argument
def vla(*values):
    print(*values)
vla(1,2,3,4,5)

1 2 3 4 5

## Tasks

* Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb, ub) inclusive

In [85]:
def div(lb,ub):
    for i in range(lb,ub+1):
        if i%6==0 and 100%i!=0:
            print(i)
div(1,100)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

* Function to find the average of cubes of all the even numbers in a given range(lb, ub) inclusive

In [100]:
def av(lb,ub):
    res=0
    count=0
    for i in range(lb,ub+1):
        if i%2==0:
            res=res+i**3
            count=count+1
    print(int(res/count))
av(1,10)

360

* Function to generate the list of factors for a given number

In [2]:
def val(lb,ub):
    for i in range(lb,ub+1):
        if ub%i==0:
            print("\n",i)
val(int(input()),int(input()))

1
10

 1

 2

 5

 10

* Function to calculate the factorial of a given number

In [7]:
def fact(a):
    facto=1
    for i in range(1,a+1):
        facto=facto*i
    print(facto)  
fact(int(input()))

5
120

## advanced problem
* Function to calculate the average of all factorials in a given range

In [23]:
def avfac(a):
    fac=1
    out=0
    count=0
    for i in range(1,a+1):
        fac=fac*i
        out=out+fac
        count=count+1
    print("\n",out/count)
avfac(int(input()))

5

 30.6

* Function to generate N odd armstrong numbers

In [9]:
def arm(i):
    r=0
    m=i
    while i>0:
        rem=i%10   
        r=r+rem**3
        i//=10
    if m==r:
         print("\n",r)    
arm(int(input()))

153

 153

In [ ]:
#def odd(lb,ub):
    #r=0
    #for i in range(lb,ub):
        #m=i
        #print(i)
        #while m>0:
       #         rem=m%10  
      #          print(rem) 
     #           r=r+rem**3
    #            m//=10
   #   if i==r:
 #               if r%2==0:
                   # print(r)
#odd(1,1000)

# N odd Amstrong number
def isarmstrong(num):
    a=0
    for i in str(num):
        a+=int(i)**int(len(str(num)))
    if num==a:
        return True
    return False

def oddN_Armstrongs(n):
    i=1
    c=0
    while c!=n:
        if isarmstrong(i) and i%2==1:
            c+=1
            print(i,end=" ")
        i+=1
oddN_Armstrongs(int(input()))

100
1 3 5 7 9 153 371 407 92727 1741725

In [3]:
# odd numbers
def od(lb,ub):
    for i in range(lb,ub+1):
        if i%2!=0:
            print(i)
od(1,10)

1
3
5
7
9

* Function to generate Multiplication table for a number in a given range

In [1]:
m=int(input())
def multi(n,l):
    for i in range(l,l+m):
        print(n,'x',i,'=',n*i)
multi(int(input()),int(input()))

3
10
100
10 x 100 = 1000
10 x 101 = 1010
10 x 102 = 1020