### conditional statements
* simple if 
* if-else
* else if
* nested if

In [4]:
# simple if
a=10
if a==10:
        print("equal")

equal

In [5]:
#else if
if a==10:
    print("equal")
else:
    print("not equal")

equal

In [11]:
#elif statements
a=20;b=30;c=10
if a>b and a>c:
    print("a is the largest number",a)
elif b>a and b>c:
    print("b is the largest number",b)
else:
    print("c is the largest number",c)

b is the largest number 30

In [14]:
#nested if statements
if a>b:
    if a>c:
        print("a is largest")
elif b>c:
        print("b is largest")
else:
    print("c is largest")

b is largest

### for loop

for temp_var in sequence

In [15]:
for i in 1,2,3:
    print(i)

1
2
3

In [17]:
2==3
2 is not 3

True

In [18]:
"a" in "alekhya"

True

for i in range(start,end,step):

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(1,20,5):
    print(i)

1
6
11
16

In [26]:
str1="apssdc"
for i in str1:
    print(i,end="")

apssdc

In [28]:
for i in "tejaswini":
    print(i,end="")

tejaswini

###  while loop

In [32]:
i=1
while(i<5):
    print(i)
    i+=1

1
2
3
4

In [8]:
i=1
for i in range(1,5):
    print(i)
    if i==3:
        continue
    if i==3:
         break

1
2
3
4

### list concept

* list is mutable(we can change values)
* list-[]
* list can have different data types
* more than one list is exist in a list

In [10]:
l1=[1,2,3]
type(l1)

list

In [12]:
l2=[1,2,'dif']
type(l2)

list

In [14]:
l3=[1,2,[3,4]]
type(l3)

list

In [15]:
l3[0]

1

In [16]:
l3[3]

IndexError: list index out of range

In [19]:
l3[3][0]

IndexError: list index out of range

In [20]:
l3[2][0]

3

* list slicing

In [22]:
l2[0:]

[1, 2, 'dif']

In [25]:
l2[0:3]

[1, 2, 'dif']

In [26]:
l2[::-1]

['dif', 2, 1]

In [33]:
l2[-4:-1]

[1, 2]

In [34]:
l2[-3:-1:2]

[1]

In [51]:
a="sri padmavati mahila visvavidyalayam"
b=a.split()
b=a.split("a")
print(b)
type(b)

['sri p', 'dm', 'v', 'ti m', 'hil', ' visv', 'vidy', 'l', 'y', 'm']

list

In [50]:
c="".join(b)
print(c)
type(c)

sripadmavatimahilavisvavidyalayam

str

### functions on lists
  * len
  * min
  * max
  * sorted
  * sum

In [52]:
lis=[34,57,66,11]
len(lis)

4

In [58]:
li=sorted(lis)
li

[11, 34, 57, 66]

In [66]:
sorted(lis,reverse=True)

[98, 66, 57, 11]

In [67]:
li[::-1]

[66, 57, 34, 11]

In [68]:
sum(li)

168

In [69]:
lis[0]=98
lis

[98, 57, 66, 11]

In [70]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [77]:
lis.append(99)   #value
lis

[98, 57, 66, 11, 99, 99]

In [76]:
lis.remove(122)
lis

[98, 57, 66, 11, 99]

In [78]:
lis.remove(99)
lis

[98, 57, 66, 11, 99]

In [79]:
lis.clear()
lis

[]

In [111]:
lis=[1,2,3,1]
lis1=lis.copy()
lis1

[1, 2, 3, 1]

In [112]:
lis.count(2)   #number

1

In [113]:
lis.index(3) #3 is number in list
             # output denotes position of number in list

2

In [129]:
lis=[1,2,3,4,5]
lis.index(1,0,4)  #(serachvalue,indextobestart search,end)

0

In [130]:
lis

[1, 2, 3, 4, 5]

In [137]:
lis.insert(5,6)  #(index,value)
lis

[1, 2, 3, 4, 5, 6, 6]

In [136]:
lis.remove(6)    #value
lis

[1, 2, 3, 4, 5, 6]

In [138]:
lis.pop(5)  #index
lis

[1, 2, 3, 4, 5, 6]

In [141]:
lis.append(6)
lis

[1, 2, 3, 4, 5, 6, 6, 6]

In [142]:
lis.remove(6)

In [143]:
lis.remove(6)
lis

[1, 2, 3, 4, 5, 6]

### practice on conditions

* Check the given year is a Leap year or not

In [176]:
def leap(i):
        if ((i%4==0 and i%100!=0) or i%400==0):
            print("is a leap year")
        else:
            print("is not a leap year")
leap(int(input()))

2000
is a leap year

* Check if the number exist in a given range (inputs: number(n), range(lower number and upper number

In [220]:
a=int(input())
def ran(lb,ub):
    for i in range(lb,ub):
        if a==i:
            print(" ",a,"number exist")
ran(int(input()),int(input()))

6
1
10
  6 number exist

* Calculate the square root of a given number

In [218]:
a=int(input())
b=a**(1/2)
print(int(b))

625
25

### practice on loops

* Program to print the pyramid pattern in python using for loop.

In [13]:
def py(r):
    k=2*r-2
    for i in range(0,r):
        for j in range(0,k):
            print(end=" ")
        k=k-1
        for j in range(0,i+1):
            print(" *",end="")
        print("\n")
py(int(input()))

5
         *

        * *

       * * *

      * * * *

     * * * * *

* Read the given string that contains alphanumeric values. Print all even number, all odd numbers and alphabets separately

In [2]:
st=input()
enum=""
onum=""
for i in st:
    if i.isalpha():
        print(i,end="")
    else:
        if int(i)%2==0:
            enum=enum+i
        else:
            onum=onum+i
print("\n",enum,end="")
print("\n",onum,end="")

t98k65
tk
 86
 95

* Print n Natural Numbers using while loop

In [1]:
n=int(input())
i=int(input())
while(i<=n):
    print("",i,end="")
    i=i+1

10
1
 1 2 3 4 5 6 7 8 9 10

* Program print n number of iterations using while loop with if statement

In [4]:
n=int(input())
count=0
while n!=0:
    if(n%2==0):
        count=count+1
        print(count)
    n=n-1

10
1
2
3
4
5

* Iterate the integers from 1 to 50, for multiples of 3 print “Fizz” and for multiples of 5 print “Buzz” and for multiples of both 3 and 5 print “FizzBuzz”

In [8]:
for i in range(1,50):
    if(i%3==0):
        print("Fizz")
    elif(i%5==0):
        print("Buzz")
    if(i%3==0 and i%5==0):
        print("FizzBuzz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
FizzBuzz
Fizz

* Check the number of digits in a given number

In [1]:
num=int(input())
count=0
while(num>0):
    count=count+1
    num=num%10
print(count)

ValueError: invalid literal for int() with base 10: ''